html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}


#Info{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3rem;
    justify-content: center;
    align-items: start;
    
}
#Tope{
    display: flex;
    justify-content: start;
}

#User{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1rem;
    justify-content: center;
    align-items: start;
}

#botones{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
}